################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Lab2/obj
/Lab1/obj
/.vs/LabsOOP/v16
/Lab3/obj
/Lab3/bin/Debug/netcoreapp3.1
/.vs/LabsOOP/DesignTimeBuild
/Lab4/obj
/Lab4/bin/Debug/netcoreapp3.1
/Lab5/bin/Debug/netcoreapp3.1
/Lab5/obj
/Lab6/bin/Debug/netcoreapp3.1
/Lab6/obj
